@using Site.Data.ViewModels
@model CVView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container col-12 bg-secondary mb-5">
    <div class="row text-white">
        <div class="col-4 pl-0">
            <img class="img-fluid ml-0" src="@Model.cv.Jpg" />
        </div>
        <div class="col-4">
            <h3>@Model.cv.FirstName @Model.cv.LastName. About me</h3>
            <p>@Model.cv.Summary</p>
            <h3>Education</h3>
            <ul class="pl-4">
                @{
                    foreach (var el in Model.Educations)
                    {
                        <li>@el.Name, @el.Faculty, @el.Speciality, @el.Degree, @el.Start-@el.End</li>
                    }
                }
            </ul>
            <h3>Reach me at</h3>
            <ul class="pl-4">
                @{
                    foreach (var el in Model.Contacts)
                    {
                        <li>@el.Service: @el.Data</li>
                    }
                }
            </ul>
            <button class="btn btn-secondary focus" data-toggle="tooltip" title="
                    @{ 
                        foreach(var el in Model.Skills)
                        {
                            @("(")@el.Name @if(el.Level!=null)@("("+el.Level+")")@(") ")
                        }
                    }" onclick="alert('@{ 
                        foreach(var el in Model.Skills)
                        {
                            @el.Name @if(el.Level!=null)@("("+el.Level+")")@("\\n")
                        }
                    }')"><h4>Skills</h4></button>
        </div> 
        <div class="col-4">
            <h3>Summary & Objectives</h3>
            <p>@Model.cv.Objectives</p>
            <h3>Experience</h3>
            <ul class="pl-4">
                @{
                    foreach (var el in Model.Experiences)
                    {
                        <li>@el.Text</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>